<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lemonsqueeze.fakewificonnection"
    android:versionCode="9"
    android:versionName="1.8" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:label="@string/app_name" android:name="com.lemonsqueeze.fakewificonnection.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
            	android:name="xposedmodule"
            	android:value="true" />
        <meta-data
            	android:name="xposedminversion"
            	android:value="2.0*" />
        <meta-data
            	android:name="xposeddescription"
            	android:value="Make android apps believe Wifi is connected." />
        
        
    </application>

</manifest>
